@import '../../styles/variables.scss';
@import '../../styles/global.scss';

.about {
  padding-left: $base * 5;
  padding-right: $base * 5;
  color: $color-black-100;

  &__desc {
    font-size: $base * 4;
    font-weight: normal;
  }

  &__list {
    margin-top: $base * 6;
    li {
      margin-bottom: $base * 3;
      list-style: square;
    }
  }
}
