// ============ variables ============ //

// =========== Base px ========
$base: 4px;

// =========== Main container width ========
$container-width: 960px;

// =========== Colors  ========
$color-white: white;
$color-black: black;

// =========== Black  ========
$color-black-100: rgb(28, 28, 28);
$color-black-200: rgba(0, 0, 0, 0.2);

// =========== Blue  ========
$color-blue-100: rgb(0, 171, 169);
$color-blue-200: rgb(132, 213, 212);

// =========== Gray  ========
$color-gray-100: rgb(92, 100, 109);

// ============ / variables ============ //
