@import '../../styles/variables.scss';
@import '../../styles/global.scss';

.main {
    text-align: center;

    &__title {
        color: $color-black-100;
        font-size: $base * 8;
        font-weight: 500;
    }

    &__desc {
        margin: 0 auto;
        color: $color-gray-100;
        max-width: 400px;
        font-size: $base * 3.5;
        font-weight: 400;
        line-height: 1.5em;
    }

    .inputs {
        margin-top: 40px; 
    }
}