@import '../../styles/variables.scss';
@import '../../styles/global.scss';

.valuta {
  &__input {
    max-width: 320px;
    height: 70px;

    input {
      padding: $base * 4.5 $base * 3;
      width: 90%;
      font-size: $base * 8;
      outline: none;
      border: 1px solid $color-gray-100;
      border-radius: $base;
      transition: all 0.3s ease-in-out;

      &:focus {
        border: 1px solid $color-blue-100;
        caret-color: $color-blue-100;
      }
    }
  }

  // ============ Select =========
  .select {
    position: relative;
    width: 100%;
    font-size: $base * 3.5;
    height: 38px;
    border: 1px solid $color-gray-100;
    transition: all 0.3s ease-in-out;
    border-radius: $base;

    user-select: none;
  }
  // ============ / Select =========

  &__available {
    margin: 20px 0;
  }
}
