@import '../../styles/variables.scss';

.privacy {
  &__desc {
    font-weight: 400;

    h1 {
      font-size: $base * 5;
    }

    p,
    li {
      font-weight: 400;
      font-size: $base * 3.5;
      padding-bottom: $base * 1.5;
    }
  }
}
